menuconfig FIH_CONFIG_GROUP
    bool "FIH Configurations Group"
    default y
    help
        Turn on this group to enable FIH's configurations menu
 
if FIH_CONFIG_GROUP
    comment "FIH Project Flags for FIH_CONFIG_GROUP"

    choice
        prompt "Select a project name"
        default FIH_PROJECT_TULIP_SS

        config FIH_PROJECT_TULIP_SS
            bool "01. FIH_PROJECT_TULIP_SS"
            help
                Enable the support for FIH_PROJECT_TULIP_SS flag

        config FIH_PROJECT_TULIP_DS
            bool "01. FIH_PROJECT_TULIP_DS"
            help
                Enable the support for FIH_PROJECT_TULIP_DS flag

        config FIH_PROJECT_TULIP_C2K
            bool "01. FIH_PROJECT_TULIP_C2K"
            help
                Enable the support for FIH_PROJECT_TULIP_C2K flag
    endchoice

    # --- FIH_PROJECT_TULIP_SS{-------------------------------------------------- START
    # ***********************************************************    
    # Project configurations for FIH_PROJECT_TULIP_SS
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_TULIP_SS"
        depends on FIH_PROJECT_TULIP_SS
        config FIH_FTM
            bool "FIH_FTM"
            default n
            help
                Enable/Disable the build flag FIH_FTM.

        config FIH_MACH_TULIP_SS
            bool "FIH_MACH_TULIP_SS"
            depends on FIH_PROJECT_TULIP_SS
            default y
            help
                Enable/Disable the build flag FIH_MACH_TULIP_SS.
	#CORE-EL-PMSWakelockInfo-00+[
	config FIH_DUMP_WAKELOCK
		bool "FIH DUMP WAKELOCK"
		depends on FIH_CONFIG_GROUP
		default n
		help
			Enable to dump wakelock if it active.  

	config PN544_I2C_NFC
		tristate "PN544 NFC driver"
		depends on I2C
		select CRC_CCITT
		default n
		---help---
	 	Say yes if you want PN544(PN547) Near Field Communication driver.
		This is for i2c connected version. If unsure, say N here.
		To compile this driver as a module, choose m here. The module will
		be called pn544(PN547).

    #CORE-KH-DbgCfgToolPorting-01-a]
        # FIH-KERNEL-HC-dynamically_disable_UART-00+[
        config FIH_REMOVE_SERIAL_DYNAMICALLY
            bool "turn off serial port dynamically"
            default n
            help
                turn off serial port dynamically
        # FIH-KERNEL-HC-dynamically_disable_UART-00+]

    # FIH-KERNEL-HC-Force_Trigger_Panic-00+[
        config FIH_FORCE_TRIGGER_PANIC
            bool "Force trigger panic"
            default n
            help
                Say Y here if you want to trigger panic 
                by pressing power key more than 15s.
    # FIH-KERNEL-HC-Force_Trigger_Panic-00+]
    #CORE-KH-DbgCfgToolPorting_forL-00-a[
        config FIH_USER_DEBUG_FLAG
            bool "User debug build"
            default n
            help
                Say Y here in user debug build 
    #CORE-KH-DbgCfgToolPorting_forL-00-a]

        config FIH_SUSPEND_RESUME_LOG
            bool "FIH LOG about SUSPEND/RESUME"
            default n
            help
                Enable suspend and resume log support
    endmenu
    # --- FIH_PROJECT_TULIP_SS}-------------------------------------------------- END
	
    # --- FIH_PROJECT_TULIP_DS{-------------------------------------------------- START
    # ***********************************************************    
    # Project configurations for FIH_PROJECT_TULIP_DS
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_TULIP_DS"
        depends on FIH_PROJECT_TULIP_DS
        config FIH_FTM
            bool "FIH_FTM"
            default n
            help
                Enable/Disable the build flag FIH_FTM.

        config FIH_MACH_TULIP_DS
            bool "FIH_MACH_TULIP_DS"
            depends on FIH_PROJECT_TULIP_DS
            default y
            help
                Enable/Disable the build flag FIH_MACH_TULIP_DS.
	#CORE-EL-PMSWakelockInfo-00+[
	config FIH_DUMP_WAKELOCK
		bool "FIH DUMP WAKELOCK"
		depends on FIH_CONFIG_GROUP
		default n
		help
			Enable to dump wakelock if it active.  
		

    #CORE-KH-DbgCfgToolPorting-01-a]
        # FIH-KERNEL-HC-dynamically_disable_UART-00+[
        config FIH_REMOVE_SERIAL_DYNAMICALLY
            bool "turn off serial port dynamically"
            default n
            help
                turn off serial port dynamically
        # FIH-KERNEL-HC-dynamically_disable_UART-00+]

    # FIH-KERNEL-HC-Force_Trigger_Panic-00+[
        config FIH_FORCE_TRIGGER_PANIC
            bool "Force trigger panic"
            default n
            help
                Say Y here if you want to trigger panic 
                by pressing power key more than 15s.
    # FIH-KERNEL-HC-Force_Trigger_Panic-00+]
    #CORE-KH-DbgCfgToolPorting_forL-00-a[
        config FIH_USER_DEBUG_FLAG
            bool "User debug build"
            default n
            help
                Say Y here in user debug build 
    #CORE-KH-DbgCfgToolPorting_forL-00-a]
            
        config FIH_SUSPEND_RESUME_LOG
            bool "FIH LOG about SUSPEND/RESUME"
            default n
            help
                Enable suspend and resume log support

	config PN544_I2C_NFC
		tristate "PN544 NFC driver"
		depends on I2C
		select CRC_CCITT
		default n
		---help---
	 	Say yes if you want PN544(PN547) Near Field Communication driver.
		This is for i2c connected version. If unsure, say N here.
		To compile this driver as a module, choose m here. The module will
		be called pn544(PN547).

    endmenu
    # --- FIH_PROJECT_TULIP_DS}-------------------------------------------------- END
	
    # --- FIH_PROJECT_TULIP_C2K{-------------------------------------------------- START
    # ***********************************************************    
    # Project configurations for FIH_PROJECT_TULIP_C2K
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_TULIP_C2K"
        depends on FIH_PROJECT_TULIP_C2K
        config FIH_FTM
            bool "FIH_FTM"
            default n
            help
                Enable/Disable the build flag FIH_FTM.

        config FIH_MACH_TULIP_C2K
            bool "FIH_MACH_TULIP_C2K"
            depends on FIH_PROJECT_TULIP_C2K
            default y
            help
                Enable/Disable the build flag FIH_MACH_TULIP_C2K.
	#CORE-EL-PMSWakelockInfo-00+[
	config FIH_DUMP_WAKELOCK
		bool "FIH DUMP WAKELOCK"
		depends on FIH_CONFIG_GROUP
		default n
		help
			Enable to dump wakelock if it active.  
		

    #CORE-KH-DbgCfgToolPorting-01-a]
        # FIH-KERNEL-HC-dynamically_disable_UART-00+[
        config FIH_REMOVE_SERIAL_DYNAMICALLY
            bool "turn off serial port dynamically"
            default n
            help
                turn off serial port dynamically
        # FIH-KERNEL-HC-dynamically_disable_UART-00+]

    # FIH-KERNEL-HC-Force_Trigger_Panic-00+[
        config FIH_FORCE_TRIGGER_PANIC
            bool "Force trigger panic"
            default n
            help
                Say Y here if you want to trigger panic 
                by pressing power key more than 15s.
    # FIH-KERNEL-HC-Force_Trigger_Panic-00+]
    #CORE-KH-DbgCfgToolPorting_forL-00-a[
        config FIH_USER_DEBUG_FLAG
            bool "User debug build"
            default n
            help
                Say Y here in user debug build 
    #CORE-KH-DbgCfgToolPorting_forL-00-a]

        config FIH_SUSPEND_RESUME_LOG
            bool "FIH LOG about SUSPEND/RESUME"
            default n
            help
                Enable suspend and resume log support

	config PN544_I2C_NFC
		tristate "PN544 NFC driver"
		depends on I2C
		select CRC_CCITT
		default n
		---help---
	 	Say yes if you want PN544(PN547) Near Field Communication driver.
		This is for i2c connected version. If unsure, say N here.
		To compile this driver as a module, choose m here. The module will
		be called pn544(PN547).
    endmenu
    # --- FIH_PROJECT_TULIP_C2K}-------------------------------------------------- END
endif

