config SPECTRA_ISP
	bool "enable camera ISP module"
	help
	  This is enabling camera ISP module.
	  IFE camera driver file be included.
	  This will enable camera ISP driver to handle IFE driver.
	  Core camera driver to handle VFE HW.

config SPECTRA_ICP
	bool "enable camera ICP module"
	help
	  This is enabling camera ICP module.
	  Camera ICP driver file be included.
	  This will enable camera ICP driver to interact with,
	  ICP FW. Which can control IPE and BPS HW.

config SPECTRA_JPEG
	bool "enable camera jpeg module"
	help
	  This is enabling camera JPEG module.
	  camera jpeg module will be functional.
	  This module interact with jpeg HW for
	  snapshot processing.
config SPECTRA_CRE
	bool "enable camera jpeg module"
	help
	  This is enabling camera CRE module.
	  camera cre module will be functional.
	  This module interact with cre HW for
	  format conversion.
config SPECTRA_SENSOR
	bool "enable camera sensor module"
	help
	  This is enabling camera sensor module.
	  sensor module files will be included to enable the driver.
	  eeprom, flash, csiphy all other module will be included
	  to make the sensor functional.

config SPECTRA_USE_CLK_CRM_API
	bool "enable camera cesta clk feature"
	help
	  This is enabling camera cesta feature.
	  kernel clk driver api will cache the clk value
	  send by camera hw and apply to CRM hw.
	  CRM hw will consolidate and apply the clk to camera HW.

config SPECTRA_USE_RPMH_DRV_API
	bool "enable camera new ICC BW api"
	help
	  This is helping to set BW through kernel icc driver.
	  Kernel icc driver do caching the bw information.
	  icc driver will update the bw information RPMH,
	  to apply proper bw voting for camera to mmnoc

config SPECTRA_LLCC_STALING
	bool "enable camera new LLCC staling feature"
	help
	  This will enable to call LLCC driver cache notification API
	  and increment count API.
	  Which will enable LLCC staling feature,based on counter
	  invalidate the cache slice.

config TARGET_SYNX_ENABLE
	bool "enable HW synx"
	help
	  This is enabling HW syx feature.
	  synx hw signaling external to camera,
	  like EVA and other.
	  This is to avoid sw signaling latency.

config MSM_MMRM
	bool "enable MSM MMRM"
	help
	  This is enabling mmrm api access.
	  mmrm to cahce the clk voting.
	  mmrm knows about all clients' clock rates.
	  MMRM can decide whether new peak power usage is within allowed value

config INTERCONNECT_QCOM
	bool "enabling icc bus driver"
	help
		This is to access icc driver api.
		To cache AB and IB vote will
		use ICC kernel driver API.
		So that ICC driver can consolidate the vote

config DOMAIN_ID_SECURE_CAMERA
	bool "enable domain ID based secure camera flow"
	help
		This is to enable domain ID based secure
		camera flow on the hardware platforms with
		domain ID based security architecture.
		VC based security can be achieved with this.

config DYNAMIC_FD_PORT_CONFIG
	bool "enable dynamic FD port config feature"
	help
		This config enables dynamic FD port config
		feature that allows the userspace to configure
		the FD port to secure or non-secure based on
		the FD solution in use in secure camera use cases.
