# SPDX-License-Identifier: GPL-2.0
#
# USB Gadget support on a system involves
#    (a) a peripheral controller, and
#    (b) the gadget driver using it.
#
# NOTE:  Gadget support ** DOES NOT ** depend on host-side CONFIG_USB !!
#
#  - Host systems (like PCs) need CONFIG_USB (with "A" jacks).
#  - Peripherals (like PDAs) need CONFIG_USB_GADGET (with "B" jacks).
#  - Some systems have both kinds of controllers.
#
# With help from a special transceiver and a "Mini-AB" jack, systems with
# both kinds of controller can also support "USB On-the-Go" (CONFIG_USB_OTG).
#

if USB_GADGET

#
# USB Gadget Drivers
#

# composite based drivers
config USB_F_CDEV
	tristate

config USB_F_CCID
	tristate

config USB_F_QDSS
	tristate

config USB_F_GSI
	tristate

config USB_F_FS_IPC_LOGGING
        tristate "Enable IPC logging for FunctionFS via f_fs_ipc_log"
	depends on IPC_LOGGING
	depends on ARM64
	help
	 Enables additional debug messages for FunctionFS driver with the help
	 of f_fs_ipc_log module and output via IPC Logging mechanism. This can
	 be useful when troubleshooting transfer stalls or other general
	 failures and determine if the issue is in the kernel gadget or the
	 userspace client. Separate IPC log contexts are created for each
	 function instance at mount time.

# this first set of drivers all depend on bulk-capable hardware.

config USB_CONFIGFS_F_CDEV
	tristate "USB Serial Character function"
	select USB_F_CDEV
	depends on USB_CONFIGFS
	help
	  The serial character function is a generic function driver that
	  exposes a pair of bulk IN and OUT endpoints which are backed by
	  a character device and mapped to its read/write routines. The
	  function also supports a single interrupt IN endpoint for
	  asynchronous notification to the host. This driver is typically
	  used to support DUN/NMEA functions.

config USB_CONFIGFS_F_CCID
	tristate "USB CCID function"
	select USB_F_CCID
	depends on USB_CONFIGFS
	help
	  The Chip Card Interface Device (CCID) function implements a USB
	  interface that exposes a standard CSCID class that consists of a
	  pair of bulk IN and OUT endpoints and a single interrupt IN
	  endpoint. This driver provides a character device interface
	  allowing a userspace component to be able to provide the
	  implementation necessary to interface with the smartcard.

config USB_CONFIGFS_F_QDSS
	tristate "USB QDSS function"
	select USB_F_QDSS
	depends on USB_CONFIGFS
	help
	  USB QDSS function driver to get hwtracing related data over
	  USB. USB QDSS function driver which allows communication
	  between USB BAM and QDSS BAM for QDSS debug functionality
	  over USB.

config USB_CONFIGFS_F_GSI
	tristate "USB GSI function"
	select USB_F_GSI
	depends on USB_CONFIGFS
	help
	  Generic function driver to support h/w acceleration to IPA
	  over GSI. This driver provides USB RMNET/RNDIS/ECM/MBIM/DPL
	  related functionalities using GSI hardware accelerated data
	  path and control path.

endif # USB_GADGET
