# SPDX-License-Identifier: GPL-2.0-only
#
# Network device configuration
#

config VIRTIO_NET
	tristate "Virtio network driver"
	depends on VIRTIO
	select NET_FAILOVER
	select DIMLIB
	help
	  Enable this option to include the VirtIO-based network driver.
	  This driver is essential for supporting VirtIO network devices,
	  commonly used in virtualization environments. It works with
	  QEMU-based virtual machine managers (e.g., KVM or Xen).
	  Say Y or M.

config VIRTIO_NET_DISABLE_F_DEVICE_STATS
	bool "Disable/Enable F_DEVICE_STATS bit in Virtio network driver"
	depends on VIRTIO_NET
	help
	  This config will disable or enable F_DEVICE_STATS bit in the
	  VirtIO-based network driver. Disabling this bit can avoid
	  crashes caused by QNX VirtIO-based network backend driver
	  using F_DEVICE_STATS bit value for other function.
	  Say Y or N.

menuconfig NETDEVICES
	default y if UML
	depends on NET
	bool "Network device support"
	help
	  You can say N here if you don't intend to connect your Linux box to
	  any other computer at all.

	  You'll have to say Y if your computer contains a network card that
	  you want to use under Linux. If you are going to run SLIP or PPP over
	  telephone line or null modem cable you need say Y here. Connecting
	  two machines with parallel ports using PLIP needs this, as well as
	  AX.25/KISS for sending Internet traffic over amateur radio links.

	  See also "The Linux Network Administrator's Guide" by Olaf Kirch and
	  Terry Dawson. Available at <http://www.tldp.org/guides.html>.

	  If unsure, say Y.

if NETDEVICES

source "$(KCONFIG_EXT_PREFIX)drivers/net/pcs/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/net/ethernet/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/net/phy/Kconfig"

endif # NETDEVICES
