# SPDX-License-Identifier: GPL-2.0-only
if (ARCH_QCOM || COMPILE_TEST)

config PINCTRL_MSM
	tristate "Qualcomm core pin controller driver"
	depends on GPIOLIB
	# OF for pinconf_generic_dt_node_to_map_group() from GENERIC_PINCONF
	depends on OF
	select QCOM_SCM
	select PINMUX
	select PINCONF
	select GENERIC_PINCONF
	select GPIOLIB_IRQCHIP
	select IRQ_DOMAIN_HIERARCHY
	select IRQ_FASTEOI_HIERARCHY_HANDLERS

config PINCTRL_DIREWOLF
	tristate "Qualcomm Technologies, Inc. DIREWOLF pin controller driver"
	depends on GPIOLIB && OF
	select PINCTRL_MSM
	help
	  This is the pinctrl, pinmux, pinconf and gpiolib driver for the
	  Qualcomm Technologies, Inc. Top Level Mode Multiplexer block (TLMM)
	  block found on the QTI LEMANS platform.
	  Say Y here to compile statically, or M here to compile it as a module.
	  If unsure, say N.

config PINCTRL_LEMANS
	tristate "Qualcomm Technologies, Inc. LEMANS pin controller driver"
	depends on GPIOLIB && OF
	select PINCTRL_MSM
	help
	  This is the pinctrl, pinmux, pinconf and gpiolib driver for the
	  Qualcomm Technologies, Inc. Top Level Mode Multiplexer block (TLMM)
	  block found on the QTI LEMANS platform.
	  Say Y here to compile statically, or M here to compile it as a module.
	  If unsure, say N.

source "$(KCONFIG_EXT_PREFIX)drivers/pinctrl/qcom/Kconfig.msm"

config PINCTRL_MONACO_AUTO
	tristate "Qualcomm Technologies, Inc. MONACO_AUTO pin controller driver"
	depends on GPIOLIB && OF
	select PINCTRL_MSM
	help
	  This is the pinctrl, pinmux, pinconf and gpiolib driver for the
	  Qualcomm Technologies, Inc. Top Level Mode Multiplexer block (TLMM)
	  block found on the QTI MONACO_AUTO platform.
	  Say Y here to compile statically, or M here to compile it as a module.
	  If unsure, say N.

config PINCTRL_SA8797P
	tristate "Qualcomm Technologies Inc SA8797P pin controller driver"
	depends on ARM64 || COMPILE_TEST
	help
	  This is the pinctrl, pinmux, pinconf and gpiolib driver for the
	  Qualcomm Technologies, Inc. Top Level Mode Multiplexer block (TLMM)
	  block found on the QTI SA8797P platform.
	  Say Y here to compile statically, or M here to compile it as a module.
	  If unsure, say N.

endif
