# PDX-License-Identifier: GPL-2.0-only

config WAKEUP_IRQ_DEBUG
	tristate "Debug info of wakeup irq"
	default m
	help
	  This enables debug information about wakeup interrupts using
	  sysfs (/sys/kernel/).
