# SPDX-License-Identifier: GPL-2.0-only

config I2C_RTC6226_QCA
	tristate "Richwave RTC6226 FM Radio Receiver support with I2C for QCA"
	depends on I2C && VIDEO_V4L2
	help
	  This is a driver for I2C devices with the Richwave RTC6226
	  chip.

	  Say Y here if you want to connect this type of radio to your
	  computer's I2C port.

	  To compile this driver as a module, choose M here: the
	  module will be called radio-i2c-RTC6226_QCA.
