# SPDX-License-Identifier: GPL-2.0-only
if POWER_RESET

config POWER_RESET_QCOM_DOWNLOAD_MODE
        tristate "MSM download mode driver"
        depends on ARCH_QCOM
        help
          MSM boards support booting to special download modes after a restart.
          These modes could be a normal restart, restarting into a
          ramdump collection mode (CrashDump), or restarting into "emergency
          download mode".

config POWER_RESET_QCOM_DOWNLOAD_MODE_DEFAULT
        bool "MSM download mode enabled by default"
        help
          A device with "download mode" enabled will upon an unexpected
          warm-restart enter a special debug mode that allows the user to
          "download" memory content over USB for offline postmortem analysis.
          The feature can be enabled/disabled on the kernel command line.

          Say Y here to enable "download mode" by default.

config POWER_RESET_QCOM_PON
	tristate "Qualcomm power-on driver"
	depends on ARCH_QCOM
	depends on MFD_SPMI_PMIC
	select REBOOT_MODE
	help
	  Power On support for Qualcomm boards.
	  If you have a Qualcomm platform and need support for
	  power-on and reboot reason, Say Y.
	  If unsure, Say N.

config POWER_RESET_QCOM_REBOOT_REASON
        tristate "MSM reboot mode driver"
        depends on ARCH_QCOM
        help
          Support for setting reboot reason on MSM boards.
          This feature supports commands such as "reboot bootloader"
          to boot the MSM board to fastboot mode.
          If unsure, say Y.

config REBOOT_MODE
	tristate

config POWER_RESET_QCOM_VM
        tristate "Qualcomm Technologies, Inc. MSM VM power-off driver"
        depends on OF
        help
         Power off and restart support for Qualcomm Technologies, Inc. virtual
         machine. This driver supports virtual machine power down and restart.
         Say Y here if you have a MSM virtual machine and wish to enable
         restart driver.

endif
