#
# Clone QCOM SPI geni controller
#

config SPI_QCOM_GENI_CLONED
        tristate "Qualcomm Technologies Inc.'s GENI based SPI controller"
        depends on ARCH_QCOM
        help
          SPI driver for Qualcomm Technologies Inc's GENI based controller.
          The controller can run upto 50 Mhz, support upto 4 CS lines,
          programmable bits per word from 4 to 32 and supports the various
          SPI modes. It can operate in FIFO mode (SW driven IO) and DMA mode.

          This driver can also be built as a module.  If so, the module
          will be called spi-geni-qcom.
